// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "~bootstrap-icons/font/bootstrap-icons.css";

.bg-AquaIsland {
    background-color: var(--BrightGray);
}

.color-mode {
    &__nav-element {
        //
    }

    &__button {
        //
    }

    &__icon {
        //
    }
}

.post {
    &__place-holder {
        margin: auto;
        display: flex;
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
        height: 50px;
    }
}

.form {
    &__input-icon {
        &--small {
            height: 15px;
        }
    }
}
